<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Track Your Package</title>
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400,700|Oswald:400,500,700'>
<link rel="stylesheet" th:href="@{css/style.css}">

</head>
<body>
	<!-- partial:index.partial.html -->
	<p class="order-successful-text">ORDER SUCCESSFUL</p>

	<div class="main-div col-md-12 col-lg-12">
		<div class="track-order-div col-md-8 col-lg-8 col-sm-12 col-xs-12">
			<p class="track-your-order">TRACK YOUR ORDER</p>
			<div class="order-status-div">
			<!-- cho cái ảnh hàng vô  -->
				<!-- Dynamically load image using Thymeleaf -->
				<img class="order-placed-image" 
				     th:src="@{${order.shipper.picture}}" 
				     alt="Order Placed" 
				     width="50px"
				     height="50px"
				     style="border-radius: 50%; object-fit: cover;"
				     />
				
				<p class="order-status-text">DELIVERY IS ON THE WAY</p>
				<p class="order-id" th:text=${order.IDOrder}></p>

				<ul class="order-status-animation">
					<!-- Iterate over a list of statuses [1, 2, 3, 4] -->
					<li th:each="status : ${#numbers.sequence(1,4)}">
						<div class="order-placed">
							<!-- Conditional image rendering based on order status -->
							<img th:if="${status <= order.status}"
								src="https://cdn.zeplin.io/58e89cb1bcbb20c60457e08c/assets/E67E571F-0710-43B2-8D07-793788CE5A9E.png"
								alt="Tick" /> <img th:if="${status > order.status}"
								th:src="@{/assets/images/cross.png}"
								width="50px" height="50px"
								alt="Tick" />

							<!-- Display status name based on the current status -->
							<p th:switch="${status}">
								<span th:case="1">ORDER PLACED</span>
								<span th:case="2">ORDER
									PREPARED</span> <span th:case="3">ON
									THE WAY</span> <span th:case="4">DELIVERED</span>
								
								<!-- Fallback case -->
							</p>
						</div>
					</li>
				</ul>

			</div>

			<!-- Customer Details -->
			<div class="customer-details">
				<p class="delivery-text">Delivery details</p>
				<p class="delivery-address">542, sdjsdb jsdb Bangalore</p>
				<p class="delivery-text">Contact Number</p>
				<p class="consumer-phonenumber">+91 9632682370</p>
			</div>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
			
			<p class="order-information-header">ORDER INFORMATION</p>
			<div class="order-information-div">
				<p class="orderId">Order id: 12345</p>
				<p class="ordered-time">Order placed:12.23, August 15 1947</p>
			</div>
			<div class="item-container-div">
				<ul>
					<li>
						<div class="item-list-div">
							<p>
								ATB Combo <span class="quantity"> * 2</span>
							</p>
							<span class="combo-item"> item 1 </span> <span class="combo-item">
								item 2 </span> <span class="combo-item"> item 3 </span>
						</div>
					</li>
					<li>
						<div class="item-list-div">
							<p>
								ATB <span class="quantity"> * 2</span>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- partial -->
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	<script
		src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>
