<footer id="contact" class="contact">
		<div class="contact__wrap">
			<div class="contact__address">
				<h4 class="contact__address-title">Address</h4>
				<p class="contact__address-info">
					<i class="fas fa-map-marker"></i> 22 Lorem St. Ipsum,<br /> Dolor,
					California, USA
				</p>
				<h4 class="contact__phone">Phone</h4>
				<p class="contact__address-info">
					<i class="fas fa-phone-alt"></i> 0-123-456-7890 <br /> <i
						class="fas fa-phone-alt"></i> 0-098-765-4321
				</p>
				<h4 class="contact__phone">E-mail</h4>
				<p class="contact__address-info">
					<i class="fas fa-envelope"></i> lorem@ipsum.com
				</p>
			</div>
			<div class="contact__form-wrap">
				<h3 class="contact__title">Contact form</h3>
				<form class="contact__form" action="https://formspree.io/f/xdoyopry"
					method="POST">
					<input class="contact__container contact__input"
						placeholder="Your name" type="text" name='name' required>
					<input class="contact__container contact__input"
						placeholder="Your e-mail" type="email" name='_replyto' required>
					<textarea class="contact__container-message contact__text"
						placeholder="Your enquiry..." name="message" id="message" cols="6"
						rows="6"></textarea>
					<button type="submit" value="Send" class="contact__submit">
						Send <i class="far fa-paper-plane"></i>
					</button>
				</form>
			</div>
		</div>
		<small class="copyright"> Copyright &copy 2024 All rights
			reserved </small>
	</footer>