<header class="header">
		<div class="header__title-container">
			<h1 class="header__title">
				Mercury delivery <img class="header__title-logo"
					th:src="@{assets/images/mercury-red.png}"
					alt="Mercury Delivery logo">
			</h1>
		</div>
		<h2 class="header__info">
			we are a <span class="header__span">logistics</span> company
		</h2>

		<div class="header__truck">
			<img th:src="@{assets/svg/truck-red.svg}" alt="truck"
				class="header__truck--img">
		</div>
		<button class="header__button">
			<a href="#track" class="header__btn-text">Track your package</a>
		</button>
		<img th:src="@{assets/svg/mobile-swipe.svg}" alt=""
			class="mobile-swipe"> <img
			th:src="@{assets/svg/arrow-down.svg}" alt="" class="scroll">
		<div class="lines">
			<span class="lines__item"></span> <span class="lines__item"></span> <span
				class="lines__item"></span> <span class="lines__item"></span>
		</div>
	</header>