<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipper Home</title>
</head> -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/shipperHeader.css}">
<link rel="stylesheet" th:href="@{/css/manager.css}">
<title>ORDER MANAGEMENT SYSTEM</title>
</head>
<body>
	<!-- Thêm phần header -->
	<header th:replace="~{views/shipper/fragments/header::header}"></header>

	<!-- Nội dung chính của trang -->
	<div class="container mt-5">
		<h2 class="text-center">Order List Shipping</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID Order</th>
					<th>Source</th>
					<th>Destination</th>
					<th>Order Date</th>
					<th>Weight</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${ordersShipping}">
					<td th:text="${order.IDOrder}"></td>
					<td th:text="${order.source}"></td>
					<td th:text="${order.dest}"></td>
					<td th:text="${order.orderDate}"></td>
					<td th:text="${order.weigth}"></td>
					<td>
						<span
						th:text="${order.status == 1 ? 'Pending' : 
                    			order.status == 2 ? 'Confirmed' : 
                    			order.status == 3 ? 'Shipping' : 
                    			order.status == 4 ? 'Delivered' : 'Failed'}"></span>
					</td>
					<td>
						<a th:href="@{/shipper/order/delivered/{id}(id=${order.IDOrder})}" class="btn btn-success btn-sm">Mark as Delivered</a>
						<br>
						<a th:href="@{/shipper/order/failed/{id}(id=${order.IDOrder})}" class="btn btn-fail btn-sm">Mark as Failed</a>
						<br>
						<a th:href="@{/shipper/order/shipping/{id}(id=${order.IDOrder})}" class="btn btn-shipping btn-sm">Mark as Shipping</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="container mt-5">
		<h2 class="text-center">Order List Delivered</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID Order</th>
					<th>Source</th>
					<th>Destination</th>
					<th>Order Date</th>
					<th>Weight</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${ordersDelivered}">
					<td th:text="${order.IDOrder}"></td>
					<td th:text="${order.source}"></td>
					<td th:text="${order.dest}"></td>
					<td th:text="${order.orderDate}"></td>
					<td th:text="${order.weigth}"></td>
					<td>
						<span
						th:text="${order.status == 1 ? 'Pending' : 
                    			order.status == 2 ? 'Confirmed' : 
                    			order.status == 3 ? 'Shipping' : 
                    			order.status == 4 ? 'Delivered' : 'Failed'}"></span>
					</td>
					<td>
						<a th:href="@{/shipper/order/delivered/{id}(id=${order.IDOrder})}" class="btn btn-success btn-sm">Mark as Delivered</a>
						<br>
						<a th:href="@{/shipper/order/failed/{id}(id=${order.IDOrder})}" class="btn btn-fail btn-sm">Mark as Failed</a>
						<br>
						<a th:href="@{/shipper/order/shipping/{id}(id=${order.IDOrder})}" class="btn btn-shipping btn-sm">Mark as Shipping</a>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="container mt-5">
		<h2 class="text-center">Order List Failed</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID Order</th>
					<th>Source</th>
					<th>Destination</th>
					<th>Order Date</th>
					<th>Weight</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${ordersFailed}">
					<td th:text="${order.IDOrder}"></td>
					<td th:text="${order.source}"></td>
					<td th:text="${order.dest}"></td>
					<td th:text="${order.orderDate}"></td>
					<td th:text="${order.weigth}"></td>
					<td>
						<span
						th:text="${order.status == 1 ? 'Pending' : 
                    			order.status == 2 ? 'Confirmed' : 
                    			order.status == 3 ? 'Shipping' : 
                    			order.status == 4 ? 'Delivered' : 'Failed'}"></span>
					</td>
					<td>
						<a th:href="@{/shipper/order/delivered/{id}(id=${order.IDOrder})}" class="btn btn-success btn-sm">Mark as Delivered</a>
						<br>
						<a th:href="@{/shipper/order/failed/{id}(id=${order.IDOrder})}" class="btn btn-fail btn-sm">Mark as Failed</a>
						<br>
						<a th:href="@{/shipper/order/shipping/{id}(id=${order.IDOrder})}" class="btn btn-shipping btn-sm">Mark as Shipping</a>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>
