<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/managerHeader.css}">
    <link rel="stylesheet" th:href="@{/css/manager.css}">
    <title>ORDER MANAGEMENT SYSTEM</title>
</head>
<body>
	<header th:replace="~{views/manager/fragments/header::header}"></header>
    <a th:href="@{/manager/customers}">View Customer</a>
    
    <!-- Shipper -->
    <div class="container1">
         <h1>Shipper List</h1>
       <table>
            <thead>
                <tr>
                	<th>ID Manager</th>
                    <th>ID Shipper</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>CCCD</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Birth</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                	<td th:text="${customer.manager?.IDManager}"></td>
                    <td th:text="${customer.IDUser}"></td>
                    <td>
					    <img height="150" width="200"
					         th:if="${customer.picture != null and customer.picture.startsWith('http')}"
					         th:src="${customer.picture}"  />
					
					    <img height="150" width="200"
					         th:if="${customer.picture != null and !customer.picture?.startsWith('http')}"
					         th:src="@{/image/{fname}(fname=${customer.picture})}"/>
					    <img height="150" width="200"
					         th:if="${customer.picture == null}"
					         th:src="@{/image/{fname}(fname='avatar.jpg')}"/>
					</td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.cccd}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.gender}"></td>
                    <td th:text="${customer.birth}"></td>
                    <td th:text="${customer.city}"></td>
                    <td>
                        <a>Add</a>
                        <a th:href="@{/manager/customer/edit/{id}(id=${customer.IDUser})}">Edit</a>
                        <a>Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
    
    <!-- Order -->
    <div class="container1">
    <h1>Order List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ship Fee</th>
                <th>COD Fee</th>
                <th>Source</th>
                <th>Source City</th>
                <th>Destination</th>
                <th>Destination City</th>
                <th>Width</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Goods</th>
                <th>Transport</th>
                <th>User</th>
                <th>Voucher</th>
                <th>Shipper</th>
                <th>Post Office</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.IDOrder}"></td>
                <td th:text="${order.shipFee}"></td>
                <td th:text="${order.codFee}"></td>
                <td th:text="${order.source}"></td>
                <td th:text="${order.sourceCity}"></td>
                <td th:text="${order.dest}"></td>
                <td th:text="${order.destCity}"></td>
                <td th:text="${order.width}"></td>
                <td th:text="${order.height}"></td>
                <td th:text="${order.weigth}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.good?.GoodsType}"></td>
                <td th:text="${order.transport?.TransportType}"></td>
                <td th:text="${order.user?.name}"></td>
                <td th:text="${order.voucher?.IDVoucher}"></td>
                <td th:text="${order.shipper?.name}"></td>
                <td th:text="${order.postOffice?.namePost}"></td>
                <td>
                    <a th:href="@{/manager/order/edit/{id}(id=${order.IDOrder}, managerID=${managerID})}">Edit</a>
                    <a th:href="@{/manager/order/delete/{id}(id=${order.IDOrder})}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


	<!-- JS -->
     <script th:src="@{/js/managerHeader.js}"></script>
</body>
</html>