<!-- 
<header class="section header">
	<a href="/" class="header__logo">
		<span class="logo primary"></span>
	</a>

	<nav class="nav" id="nav">
		<ul class="nav__list">
			<li class="nav__item active">
				<a href="#" class="nav__link">Home</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Mission</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">IPO&ICO</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">How It Works</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Quotes</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">History</a>
			</li>
		</ul>
		<button type="button" class="btn secondary">Get Started</button>
	</nav>
	<div class="header__btns">
		<button type="button" class="btn secondary">Get Started</button>

		<button class="btn-menu" id="toggleNav">
			<svg viewBox="0 0 64 48">
				<path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
				<path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
				<path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
			</svg>
		</button>
	</div>
</header> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <link rel="stylesheet" href="styles.css"> <!-- Đảm bảo thêm file CSS của bạn -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#" th:href="@{/shipper/profile/{id}(id=${shipper.IDShipper})}">Profile</a></li>
                <li><a href="#" th:href="@{/shipper/{id}(id=${shipper.IDShipper})}">Order</a></li>
                <li><a href="#" th:href="@{/shipper/logout/{id}(id=${shipper.IDShipper})}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Content here -->

</body>
</html>
